---
layout: home
title: Anita Rau Projects
---
<div class="blurb">
	<h1>Projects</h1>
	<h3>Image Box Embeddings</h3>

	<p class="mb-3 f3 text-gray"> Predicting Visual Overlap of Images Through Interpretable Non-Metric Box Embeddings.</p>
	<p class="mb-3 f4 text-gray">Anita Rau, Guillermo Garcia-Hernando, Danail Stoyanov, Gabriel J. Brostow and Daniyar Turmukhambetov. ECCV, 2020.</p>
	<img src="/teaser-horizontal-latex.pdf" style="text-align:left">
	<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
		Find the project website <a href="https://github.com/nianticlabs/image-box-overlap">here</a>.
	</p>


	<h3>EndoMapper</h3>

		<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
		Together with Universidad de Zaragoza and Université Clermont Auvergne we work on a real time mapping platform for autonomous navigation for endoscopy: <a href="https://cordis.europa.eu/project/id/863146">EndoMapper</a>.
		Before joining the project I worked on depth estimation in endoscopy. Because ground truth cannot be acquired in-vivo the main challenge was overcoming the difference in domains between synthetic data and real images.
	</p>

	<p class="mb-3 f3 text-gray">Implicit domain adaptation with conditional generative adversarial networks for depth prediction in endoscopy.</p>
	<p class="mb-3 f4 text-gray">Anita Rau, PJ Eddie Edwards, Omer F. Ahmad, Paul Riordan, Mirek Janatka, Laurence B. Lovat, and Danail Stoyanov. IJCARS, 2019.</p>
	<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
		Find the paper <a href="https://link.springer.com/content/pdf/10.1007/s11548-019-01962-w.pdf">here </a>. I also published our dataset <a href="http://cmic.cs.ucl.ac.uk/ColonoscopyDepth/">here</a> for others to use and some <a href="https://github.com/anitarau/DepthFromColonoscopy">code</a> for the generation of synthetic data in Unity.
	</p>
</div><!-- /.blurb -->


