---
layout: home
title: Anita Rau webpage
---
<div class="blurb">
	<h1>About</h1>
	<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
		I am a third-year PhD candidate with the <a href="https://www.ucl.ac.uk/surgical-robot-vision/" style="color: #333">Surgical Robot Vision</a>  group at <a href="https://www.ucl.ac.uk/computer-science/" style="color: #333">University College London</a>.
		I have worked on different projects centered around 3D reconstruction and scene understanding. My research interests include machine learning techniques for depth and camera pose estimation,
		navigation and mapping methods, domain transfer, and representation learning. More generally, I am excited about computer vision applications for robotics and augmented or virtual reality.
	</p>
	<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
		Before joining my research group, I got a MSc in Computational Statistics and Machine Learning from UCL and a BSc in Mathematics in Economics from <a hre="https://www.wim.uni-mannheim.de/en/about/" style="color: #333">University of Mannheim.</a>
		I recently also spent a few months at <a href="https://research.nianticlabs.com" style="color: #333">Niantic</a> working on human interpretable image relationships.

	</p>

</div><!-- /.blurb -->
