{% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
<a href="/">About</a> /
<a href="/projects">Research</a>
</p>
<img src="/img.jpg" class="circle mb-3" style="max-width: 150px;">
<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">Anita Rau</h1>
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
I am a PhD candidate at UCL. This website is a brief overview of my research.
</p>

<div class="f4 mb-6">
  <div class="{{ metadata_styles }}">
    {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
    <a href="https://github.com/anitarau" {% if site.style == 'dark' %}class="text-white"{% endif %}>
      @anitarau
    </a>
  </div>
  <div class="{{ metadata_styles }}">
    {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
    <a href="mailto:{{a.rau.16@ucl.ac.uk}}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
      a.rau.16@ucl.ac.uk
    </a>
  </div>
</div>